{% extends "_layout.html" %}

{% block content %}
<!-- lookout for get_flashed_messages(), every flashed messsage will be saved here -->

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	<strong>Store created!</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% endwith %}

<h1>Stores</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Store Name</th>
			<th scope="col">Number of Warehouses</th>
		</tr>
	</thead>
	<tbody>
		{% if payload %}
			{% for store in payload %}
				<tr>
					<td>{{ store['store_name'] }}</td>
					<td>{{ store['num'] }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<h3>No available data</h3>
		{% endif %}
	</tbody>
</table>

<form action="{{ url_for('store') }}" method="POST">
	<div class="form-group">
		<label for="store_name">Name of store:</label>
		<input type="text" class="form-control" name="store_name" id="store_name" placeholder="Name of store to be created">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}