{% extends "_layout.html" %}

{% block content %}
<!-- lookout for get_flashed_messages(), every flashed messsage will be saved here -->

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	<strong>Warehouse created!</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% endwith %}

<form action="{{ url_for('warehouse') }}" method="POST">
	<div class="form-group">
		<label for="warehouse_location">Name of warehouse:</label>
		<input type="text" class="form-control" name="warehouse_location" id="warehouse_location" placeholder="Name of warehouse to be created">
	</div>
	<div class="form-group">
		<label for="store_list">Location of warehouse:</label>
		<select name="store_list" id="store_list">
			<option disabled selected value> -- Select available store -- </option>
			{% for store in store_list %}
			{{ store_id }} = {{ store.id }}
			<option value="{{ store_id }}">{{ store.name }} - {{ store.id }}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}